/*CSS styles are here..*/
.h1{
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color:purple;  
    text-align: center;
}
/*copyright Mudrak Patel; Centennial College; Summer 2016; Clientside Web Design*/